@import "./modules/variables";
@import "./modules/navbar";
@import "./modules/mobile-menu";
@import "./modules/hero";
@import "./modules/hm-pg-skills";
@import "./modules/hm-pg-projects";
@import "./modules/contact-section";
@import "./modules/chat-box";
@import "./modules/about-section";
@import "./modules/languages-skills";
@import "./modules/projects-pages";
@import "./modules/footer";
@import "./modules/animations";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: $backgroundpink;
    min-height: 100vh;
    //cursor: none;
    cursor: default;
}

.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}  

.cursor{
    z-index: 999;
    position: fixed;
    background-color: $darkpink;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 10px $darkpink,
                0 0 40px $darkpink,
                0 0 60px $darkpink;
    animation: colors 3s infinite;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.cursor:before{
    content: '';
    position: absolute;
    background-color: $darkpink;
    width: 30px;
    height: 30px;
    opacity: 0.2;
    transform: translate(-33%, -33%);
    border-radius: 50%;
}

//======================================================================================
//                                      MEDIA QUERIES
//======================================================================================


@media screen and (min-width: 768px) {
    .scroll-to-top-button {
        font-size: 35px;
        bottom: 20px;
        right: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .scroll-to-top-button {
        font-size: 40px;
        bottom: 40px;
        right: 40px;
    }
    .scroll-to-top-button:hover {
        color: $darkpink;
    }
}

@media screen and (min-width: 1200px) {
    .scroll-to-top-button {
        font-size: 40px;
        bottom: 50px;
        right: 50px;
    }
}