#about-section {
    width: 100%;
    padding: 40px 60px 60px 60px;
    #about-content-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        h2 {
            font-size: 20px;
            font-family: $headingfont;
            text-align: center;
            margin-bottom: 40px;
            width: 100%;
        }
        img {
            width: 90%;
            max-width: 375px;
            margin: auto;
            margin-bottom: 30px;
        }
        #about-text-container {
            margin: auto;
            p {
                font-family: $mainfont;
                font-size: 14px;
                margin-bottom: 15px;
            }
            p:nth-child(3) {
                margin-bottom: 20px;
            }
            a {
                text-decoration: none;
            }
            button {
                @include button;
                background-color: $blue;
                font-size: 13px;
                padding: 10px 20px;
                cursor: pointer;
                display: inline-block;
            }
            button:nth-child(1) {
                margin: 0 5px 10px 0;
            }
            button:hover {
                background-color: $darkpink;
            }
            button:hover:focus {
                outline: none;
                box-shadow: 0px 0px 10px 0px rgb(172, 12, 56) inset;
                -webkit-box-shadow: 0px 0px 10px 0px rgb(172, 12, 56) inset;
                -moz-box-shadow: 0px 0px 10px 0px rgb(172, 12, 56) inset;
            }
            button:focus {
                outline: none;
                box-shadow: 0px 0px 10px 0px rgb(24, 85, 110) inset;
                -webkit-box-shadow: 0px 0px 10px 0px rgb(24, 85, 110) inset;
                -moz-box-shadow: 0px 0px 10px 0px rgb(24, 85, 110) inset;
            }
        }
    }
}

//======================================================================================
//                                      MEDIA QUERIES
//======================================================================================


@media screen and (min-width: 768px) {
    #about-section {
        padding: 100px 60px;
        #about-content-container {
            display: flex;
            flex-direction: row;
            h2 {
                font-size: 25px;
                text-align: left;
                margin-bottom: 40px;
            }
            img {
                width: 35%;
                margin: 0;
                margin-right: 30px;
                object-fit: contain;
                object-position: top;
            }
            #about-text-container {
                width: 60%;
                p {
                    font-size: 16px;
                }
                button {
                    font-size: 14px;
                }
                button:nth-child(1) {
                    margin: 0 5px 10px 0;
                }
            }
        }
    } 
}

@media screen and (min-width: 1024px) {
    #about-section {
        padding: 150px;
        #about-content-container {
            h2 {
                font-size: 35px;
                font-weight: 100;
                text-align: left;
                margin-bottom: 40px;
            }
            img {
                width: 40%;
            }
            #about-text-container {
                width: 55%;
                button {
                    font-size: 16px;
                }
            }
        }
    } 
}

@media screen and (min-width: 1200px) {
    #about-section {
        padding: 150px;
        #about-content-container {
            max-width: 1000px;
            margin: auto;
            h2 {
                font-size: 40px;
                margin-bottom: 70px;
            }
            img {
                width: 40%;
                margin-right: 50px;
            }
            #about-text-container {
                width: 54%;
                p {
                   font-size: 18px; 
                }
                p:nth-child(3) {
                    margin-bottom: 50px;
                }
                button {
                    font-size: 18px;
                }
            }
        }
    } 
}