.spec-project-container {
    .project-hero-container {
        padding: 60px 60px 20px 60px;
        background: rgb(254,250,251);
        background: linear-gradient(0deg, rgba(254,250,251,0) 0%, rgba(240,202,212,1) 100%);
        h2 {
            font-size: 20px;
            text-align: center;
            font-family: $headingfont;
            margin-bottom: 50px;
        }
        img {
            width: 100%;
        }
    }
    .project-content-container {
        padding: 20px 60px 60px 60px;
        p {
            font-family: $mainfont;
            font-size: 14px;
            line-height: 30px;
            margin-bottom: 40px;
        }
        img {
            width: 100%;
            object-fit: contain;
            height: 400px
        }
    }
    .project-linkbtn {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 100px;
        img {
            cursor: pointer;
            width: 50px;
            transition: all .3s ease-in-out;
        }
        img:hover {
            scale: 1.1;
        }
    }
}
